body {
    font-family: Roboto, Arial, sans-serif; !important;
    margin: 0;
    padding: 0;
    position: relative;
    line-height: 1.5;
}

.container {
    margin: 0 auto;
}

/* Team Section */
.team-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.team-member {
    background: #f9f9f920;
    padding: 15px;
    text-align: center;
    border-radius: 4px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}


.team-member h3 {
    margin-bottom: 5px;
    color: var(--primary-color);
}

.team-member p {
    margin-bottom: 10px;
    font-style: italic;
    color: #888;
}

.team-member a {
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 5px;
    display: inline-block;
    transition: background 0.3s;
    color: var(--primary-color);
}

.team-member a:hover {
    color: var(--dark-color);
}

.task-list {
    list-style-type: none;
    padding: 0;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 2fr; /* First column (task name) takes 1 fraction, second takes 2 */
}

.team-member img {
    width: 100%;
    border-radius: 50%;
}

.logo {
    max-width: 150px !important;
    height: auto;
    object-fit: contain;
    padding-top: 20px;
}
